@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

:root {
    --primary-text-color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgb(101, 188, 239), rgb(38, 106, 225) 70%);
    position: relative;
    z-index: -1;
    overflow: hidden;
}

.card-container {
    position: relative;
    margin: 20px;
}

/* Shape - Circle*/
.shape {
    position: absolute;
    border-radius: 50%;
    z-index: -2;
}

.shape1 {
    background-image: linear-gradient(45deg,
            hsl(240deg 77% 37%) 0%,
            hsl(295deg 85% 41%) 63%,
            hsl(308deg 100% 50%) 100%);
    width: 100px;
    height: 100px;
    top: -36px;
    left: -40px;
}


.shape2 {
    background-image: linear-gradient(45deg,
            hsl(240deg 77% 37%) 0%,
            hsl(295deg 85% 41%) 63%,
            hsl(308deg 100% 50%) 100%);
    width: 200px;
    height: 200px;
    top: 20px;
    left: 280px;
}

.shape3 {
    background-image: linear-gradient(45deg,
            hsl(240deg 77% 37%) 0%,
            hsl(295deg 85% 41%) 63%,
            hsl(308deg 100% 50%) 100%);
    width: 222px;
    height: 222px;
    bottom: -60px;
    left: -121px;
}

/* Card - content*/
.card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
}

.profile-image {
    max-width: 350px;
    filter: drop-shadow(12px 12px 20px rgba(0, 0, 0, 0.8));
}

.profile-image img {
    filter: contrast(125%);
    width: 60%;
    height: 100%;
}

.about-container{
    padding: 10px;
}

.name {
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 700;
    color: var(--primary-text-color);
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.skill {
    letter-spacing: 2px;
    font-size: 1.2rem;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
}

.icon {
    font-size: 2rem;
    color: var(--primary-text-color);
    margin: 5px 10px;
    opacity: 0.6;
    transition: 0.2s ease-in-out;
}

.icon:hover {
    transform: scale(1.08);
    opacity: 1;
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.portfolio-btn {
    display: inline-block;
    margin: 6px 0;
    padding: 5px 50px;
    border: 1px solid var(--primary-text-color);
    border-radius: 20px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    transition: all 0.5s ease;
}

.portfolio-btn:hover {
    background-color: #9A11BD;
    color: var(--primary-text-color);
}
.arrow{
    display: inline-block;
    animation: move 2s ease-in-out infinite;
    /* transition: ; */
}
@keyframes move {
    0%,100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(5px);
    }
}